@model Church.DataLayer.Db.Entity.Staff

@{
    ViewBag.Title = "Details";
}

<h2>Staff Details</h2>
<hr />
<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-row">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Mobile)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Street)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-row">
                    @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Place)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Address1)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Address2)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "EditStaff", new { id = Model.Id }, new { @class= "btn btn-outline-primary btn-sm fa fa-pencil" }) |
    @Html.ActionLink("Back to List", "StaffList",null, new { @class = "btn btn-outline-info fa fa-arrow-circle-o-left" })
</p>
