@model IEnumerable<Church.DataLayer.Db.Entity.Pastor>

@{
    ViewBag.Title = "Pastors";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2><span class="mastername">Pastors</span><span class="listname">List</span></h2>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">
            @Html.ActionLink(" ","Create", null, new { @class = "fa fa-plus fa-2x float-md-right" })
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>Action</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedByUser.Name)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm fa fa-pencil" }) |
            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-outline-success fa fa-eye" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm fa fa-trash-o" })
        </td>
    </tr>
}
</table>
